<div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill class="espacioAbajo">
  <h1 mat-dialog-title>Eliminar Comentario.</h1>
  <mat-divider></mat-divider>
</div>

<form>
  <div fxLayout="column" fxLayoutAlign="stretch stretch" fxFlexFill mat-dialog-content class="espacioAbajo">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <p><b>Est&aacute; a punto de eliminar el siguiente comentario:</b></p>
      <p >
        <i>&quot;{{localData.Comentario}}&quot;</i>
      </p>
    </div>

  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
    <button (click)="deleteComment()" mat-raised-button color="accent">
      <mat-icon> delete</mat-icon>
      &nbsp;Confirmar
    </button>
    <button (click)="closeDialog()" mat-raised-button><mat-icon>clear</mat-icon>&nbsp;Cancelar</button>
  </div>
</form>
