.my-table {
  width: 90%;
}

.my-table2 {
  width: 95%;
}


.mat-sort-header-container {
  align-items: center;
}


.thead-dark tr,
.thead-dark td,
.thead-dark th,
.thead-dark thead {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}


.table-warning,
.table-warning > th,
.table-warning > td {
 background-color: #ffeeba;
}
.table-hover .table-warning:hover {
 background-color: #ffe8a1;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
 background-color: #ffe8a1;
}
.table-danger,
.table-danger > th,
.table-danger > td {
 background-color: #f5c6cb;
}
.table-hover .table-danger:hover {
 background-color: #f1b0b7;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
 background-color: #f1b0b7;
}



.table-success,
.table-success > th,
.table-success > td {
 background-color: #c3e6cb;
}
.table-hover .table-success:hover {
  background-color: #b1dfbb;
 }
 .table-hover .table-success:hover > td,
 .table-hover .table-success:hover > th {
  background-color: #b1dfbb;
 }



.table-active,
.table-active > th,
.table-active > td {
 background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover {
 background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
 background-color: rgba(0, 0, 0, 0.075);
}

.button-ots {
  text-align: left;
  padding-left: 0px;
}
