

<div  *ngIf="isDataLoaded" >
  <div class="centerDivTop valignCenter">
    <h2>Selecciona una junta:&nbsp;&nbsp;&nbsp;</h2>

    <mat-form-field appearance="fill">
      <mat-label>Junta</mat-label>
      <mat-select [(ngModel)]="this.junta" (selectionChange)="selectJunta()">
          <mat-option *ngFor="let punto of this.juntas" [value]="punto.Junta">
              {{punto.Junta}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="bottomPadding">
    <mat-divider></mat-divider>
  </div>
  <div class="centerDiv">
  <div  *ngIf="juntaSelected" class="width90">
    <iframe appIframeTracker [src]='this.dashboardUrlX' width="50%" height="300" frameborder="0"></iframe>
    <iframe appIframeTracker [src]='this.dashboardUrlY' width="50%" height="300" frameborder="0"></iframe>
    <iframe appIframeTracker [src]='this.dashboardUrlZ' width="50%" height="300" frameborder="0"></iframe>
    <iframe appIframeTracker [src]='this.dashboardUrlT' width="50%" height="300" frameborder="0"></iframe>
  </div>
  </div>
</div>




