<div>

  <div class="pagHeaderTop">
    <h2>Tareas con diferentes frecuencias en PSP y EAM</h2>
  </div>



  <div class="centerDivTop">
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- PPM Column -->
      <ng-container matColumnDef="PPM">
        <th mat-header-cell *matHeaderCellDef> PPM </th>
        <td mat-cell *matCellDef="let element"> {{element.PPM}} </td>
      </ng-container>

      <!-- Descr Column -->
      <ng-container matColumnDef="Descr">
        <th mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
        <td mat-cell *matCellDef="let element"> {{element.Descr}} </td>
      </ng-container>

      <!-- Equipo Column -->
      <ng-container matColumnDef="Equipo">
        <th mat-header-cell *matHeaderCellDef> Equipo </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.EquipoDescr}}" matTooltipPosition="right"> {{element.Equipo}} </td>
      </ng-container>

      <!-- Frecuencia Column -->
      <ng-container matColumnDef="Frecuencia">
        <th mat-header-cell *matHeaderCellDef> Frecuencia PSP </th>
        <td mat-cell *matCellDef="let element"> {{element.Frecuencia}} </td>
      </ng-container>

      <!-- FrecuenciaEAM Column -->
      <ng-container matColumnDef="FrecuenciaEAM">
        <th mat-header-cell *matHeaderCellDef> Frecuencia en EAM </th>
        <td mat-cell *matCellDef="let element"> {{element.FrecuenciaEAM}} </td>
      </ng-container>

      <!-- ActionColumn -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align:center">Sobreescribir Frecuencia</th>
        <td mat-cell *matCellDef="let element" class="action-link" style="text-align:center" >
          <div *ngIf="element.FreqEAM == element.FreqPSP && element.PeriodoEAM == element.PeriodoPSP && element.FreqPSP > 0 && element.PeriodoPSP; else botonImportar">
            <button mat-button color="accent"><mat-icon  matTooltip="Frecuencia importada correctamente" matTooltipPosition="right">check_circle</mat-icon></button>
          </div>
          <ng-template #botonImportar>
            <button mat-button color="primary" (click)="openDialog(element)" [disabled]="element.FreqEAM == 0 || !element.PeriodoEAM"><mat-icon  matTooltip="Importar frecuencia desde EAM" matTooltipPosition="right">change_circle</mat-icon></button>
          </ng-template>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="thead-dark"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
