<mat-toolbar  class="mat-elevation-z10 barra-herramientas">
  <app-navbar-items></app-navbar-items>
  <div class="spacer"></div>
  <img src="./assets/img/title.svg" >
  <div class="spacer"></div>
  <button mat-raised-button  [matMenuTriggerFor]="usuarioMenu"><mat-icon>account_circle</mat-icon>&nbsp;<span>{{ NombreUsuario }}</span></button>
  <button mat-raised-button [matMenuTriggerFor]="notifMenu" color="accent"><mat-icon matBadge="{{this.notificaciones.length}}" matBadgeHidden="{{this.notificaciones.length===0}}" matBadgePosition="below">notifications</mat-icon></button>
</mat-toolbar>



<mat-menu #usuarioMenu="matMenu">
  <button *ngFor="let rol of this.RolUsuario" mat-menu-item disabled>{{ rol }}</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="cerrarSesion()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>

<mat-menu #notifMenu="matMenu">
  <div *ngFor="let notif of this.notificaciones; let i = index">
    <mat-divider *ngIf="i > 0"></mat-divider>
    <button  mat-menu-item (click)="this.navegar(notif.path)">
      <mat-icon color="{{notif.color}}">{{ notif.icon }}</mat-icon>
      <span>{{ notif.text }}</span>
    </button>
  </div>
  <button *ngIf="this.notificaciones.length===0" mat-menu-item disabled>
    <span>No tienes notificaciones</span>
  </button>
</mat-menu>
